.sobre{
    display: grid;
    grid-template-areas: 
    "texto sociais";
    grid-template-columns: 1fr 1fr;
    align-content: center;
    height: 60vh;
    justify-items: end;
    background-color: #F2C9E4;
    padding: 15%;
}

h4{
    padding: 2%;
    font-style: italic;
}

.texto{
    text-align: justify;
    border: 1px solid white;
    font-size: 17px;
    font-style: italic;
}

.socias{
    padding: 10%;
}

.redes{
    width: 50px;
    height: 50px;
}

@media(max-width:800px){
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        height: 100%;
    }

    .texto{
        font-size: 15px;
        margin: 5%;
    }
}
